$primary: #0097e2; //Main brand, action colour
$primaryHover: #0068b5; //Use for hover/focus effects
$primaryTint: #e6f4fb; // Backgrounds, table hightlights, pills

$background: #ffffff; //Page Background
$surface: #f8f9fa; //Cards, containers, dropdowns
$border: #e0e0e0; //Dividers, table borders
$headings: #2c3e50; //Titles, headings and strong text
$bodyText: #4f4f4f; //Body Text, Paragraphs, Descriptions

//Status Colours
$success: #28A745;
$danger: #DC3545;
$warning: #FFC107;
$info: #17A2B8;

//Accent Colours
$accent1: #6C5CE7; //Graphs, charts, tags
$accent2: #55EFC4; //Charts, Highlights
$accent3: #FF7675; //Visual Interest (low prio)
$accent4: #FDCB6E; //Optional Hightlights

$white: #ffffff;
$black: #000000;

$offWhite: rgba(255,255,255,0.5);
$offBlack: rgba(0,0,0,0.5);

.offWhite {
    color: $offWhite !important;
}
.offBlack {
    color: $offBlack !important;
}
