$lightBackground: #F7FAFC;
$lightForeground: #1E293B;
$card: #FFFFFF;
$cardForground: #1E293B;
$primary: #0EA5E9;
$primaryForground: #F7FAFC;
$secondary: #284CBD;
$muted: #F5F7FB;
$mutedForeground: #64748B;
$accent: #F5F7FB;
$accentForeground: #1E293B;
$border: #E2E8F0;
$input: #E2E8F0;
$ring: #0EA5E9;

//Sidebar Colours
$sidebarBackground: #0EA5E9;
$sidebarPrimaryForeground: #0EA5E9;
$sidebarAccent: #CCF3FF;
$sidebarAccentForeground: #0EA5E9;
$sidebarBorder: #57CBFF;

//Font colours
$mainHeadingColour: #1E293B;
$cardTitleColour: #1E293B;
$sectionHeadingColour: #1E293B;
$generalTextColour: #1E293B;
$mutedTextColour: #64748B;

$lightBlue: #3B82F6;
$darkBlue: #1E40AF;
$green: #22C55E;

$lightGrey: #F9FAFB;
$darkGrey: #1F2937;

$white: #ffffff;
$black: #000000;
