@font-face {
    font-family: 'interBold';
    src: url("../fonts/Inter_24pt-Bold.ttf");
}
@font-face {
    font-family: 'interSemiBold';
    src: url("../fonts/Inter_24pt-SemiBold.ttf");
}
@font-face {
    font-family: 'sourceSansMedium';
    src: url("../fonts/SourceSans3-Medium.ttf");
}
@font-face {
    font-family: 'sourceSansReg';
    src: url("../fonts/SourceSans3-Regular.ttf");
}

$titleBold: 'interBold', sans-serif;
$titleSemiBold: 'interSemiBold', sans-serif;
$bodyMedium: 'sourceSans', sans-serif;
$bodyReg: 'sourceSans', sans-serif;


.fontBold {
    font-family: $titleBold;
}
.fontSemiBold {
    font-family: $titleSemiBold;
}
.bodyMedium {
    font-family: $bodyMedium;
}
.bodyReg {
    font-family: $bodyReg;
}
