h1, h2, h3, h4, h5, h6 {
    color: $headings;
    font-family: $titleBold;

    &.subTitle {
        font-family: $titleSemiBold;
    }
}

.fs-1 {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}
.fa-1-5 {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
}
.fs-2 {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
}
.fs-2-5 {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
}
.fs-3 {
    font-size: 3rem !important;
    line-height: 3.5rem !important;
}
.fs-3-5 {
    font-size: 3.5rem !important;
    line-height: 4rem !important;
}
.fs-4 {
    font-size: 4rem !important;
    line-height: 4.5rem !important;
}
.fs-4-5 {
    font-size: 4.5rem !important;
    line-height: 5rem !important;
}
.fs-5 {
    font-size: 5rem !important;
    line-height: 5.5rem !important;
}
.fs-5-5 {
    font-size: 5.5rem !important;
    line-height: 6rem !important;
}
.fs-6 {
    font-size: 6rem !important;
    line-height: 6.5rem !important;
}
.fs-6-5 {
    font-size: 6.5rem !important;
    line-height: 7rem !important;
}
.fs-7 {
    font-size: 7rem !important;
    line-height: 7.5rem !important;
}
.fs-7-5 {
    font-size: 7.5rem !important;
    line-height: 8rem !important;
}
.fs-8 {
    font-size: 8rem !important;
    line-height: 8.5rem !important;
}
.fs-8-5 {
    font-size: 8.5rem !important;
    line-height: 9rem !important;
}
.fs-9 {
    font-size: 9rem !important;
    line-height: 9.5rem !important;
}
.fs-9-5 {
    font-size: 9.5rem !important;
    line-height: 10rem !important;
}
.fs-10 {
    font-size: 10rem !important;
    line-height: 10.5rem !important;
}

