.dashboardPageTitleBanner {

    padding: 1rem 0;

    h1 {
        color: $mainHeadingColour;
        font-family: $titleBold;
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }

    p {
        color :$mutedTextColour;
        font-family: $bodyRegular;
        font-size: 1.1rem;
    }
}
